/* Main page and context */
nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
  
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}


/*Carousel*/
.carousel img {
    height: 220px;
}


nav:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/*Leaf Animiation*/
/* Positioning leaves */
.left-2 { left: 2%; }
.left-5 { left: 5%; }
.left-8 { left: 8%; }
.left-10 { left: 10%; }
.left-13 { left: 13%; }
.left-18 { left: 18%; }
.left-20 { left: 20%; }
.left-21 { left: 21%; }
.left-22 { left: 22%; }

.left-73 { left: 73%; }
.left-75 { left: 75%; }
.left-80 { left: 80%; }
.left-85 { left: 85%; }
.left-88 { left: 88%; }
.left-92 { left: 92%; }
.left-95 { left: 95%; }
.left-99 { left: 99%; }

/* Animation delay leaves */
.delay-0 { animation-delay: 0s; }
.delay-05 { animation-delay: 0.5s; }
.delay-3 { animation-delay: 3s; }
.delay-4 { animation-delay: 4s; }
.delay-45 { animation-delay: 4.5s; }
.delay-5 { animation-delay: 5s; }
.delay-6 { animation-delay: 6s; }
.delay-7 { animation-delay: 7s; }
.delay-8 { animation-delay: 8s; }
.delay-9 { animation-delay: 9s; }
.delay-10 { animation-delay: 10s; }
.delay-11 { animation-delay: 11s; }
.delay-12 { animation-delay: 12s; }
.delay-13 { animation-delay: 13s; }
.delay-14 { animation-delay: 14s; }
.delay-15 { animation-delay: 15s; }
.delay-16 { animation-delay: 16s; }
.delay-17 { animation-delay: 17s; }
.delay-18 { animation-delay: 18s; }
.delay-19 { animation-delay: 19s; }
.delay-20 { animation-delay: 20s; }

  